db.driver=@DB_DRIVER@
db.host=@DB_HOST@
db.name=@DB_NAME@
db.port=@DB_PORT@
db.user=@DB_USER@
db.password=@DB_PASSWORD@

paypal.url=@PAYPAL_URL@
paypal.user=@PAYPAL_USER@
paypal.password=@PAYPAL_PASSWORD@
paypal.signature=@PAYPAL_SIGNATURE@
paypal.version=@PAYPAL_VERSION@
paypal.returnHost=@PAYPAL_RETURNHOST@

mail.host=@MAIL_HOST@
mail.port=@MAIL_PORT@
mail.user=@MAIL_USER@
mail.password=@MAIL_PASSWORD@