<form ng-submit="submit(csrf.header, csrf.token)" ng-controller="updateTroupe">
<table>
  <tr><th>Name</th><td><input type='text' ng-model='troupe.name' required='true' /></td></tr>
  <tr><th>Setting</th><td><select ng-model='setting' name='setting' required='true' ng-options="setting.label for setting in settings track by setting.value"></select></tr>
  
  <tr><th>Storytellers</th><td><select multiple ng-model='storytellers' name='storytellers' required='true' ng-options="storyteller.email for storyteller in all_storytellers track by storyteller.id"></tr>
  
  <tr><td colspan='2'><input name="submit" type="submit" value="submit" /></td></tr>
</table>
</form>