<table><tr><td>
	<select ng-model='newTrait' ng-options="trait as (trait|picker:filter) for trait in traits">
		<option value="">-- Choose {{traitTitle}} --</option>
	</select>
	<input type=text ng-show="newTrait.requiresSpecialization" size="9" ng-model="newTrait.specialization">
</td><td>
	<select ng-model="newTrait.rating" ng-change="change({trait: newTrait})" ng-options="rating.display for rating in ratings track by rating.value">
		<option value="">-- {{ratingsTitle}} --</option>
	</select>
</td></tr></table>