<table><tr><td>
	<select ng-model="trait" ng-options="trait as (trait.id|picker:filter) for trait in traits">
		<option value="">-- Choose {{traitTitle}} --</option>
	</select>
	<input type=text ng-show="trait.displayableDetailLevel && (trait.displayableDetailLevel.id == 3 || trait.displayableDetailLevel.id == 4)" size="9" ng-model="trait.specialization">
</td><td>
	<select ng-model="trait.rating" ng-change="change()" ng-options="rating as rating for rating in ratings">
		<option value="">-- {{ratingsTitle}} --</option>
	</select>
</td></tr></table>