<h2>Create a new character</h2>
<form ng-submit="submit()" ng-controller="addCharacter">
<table>
	<tr>
		<td>Name:</td>
		<td><input type='text' ng-model='name' name='name' required='true' value='' /></td>
	</tr>
	<tr>
		<td>Troupe:</td>
		<td>
			<select ng-model='troupe' name='troupe' required='true' ng-options="troupe.name for troupe in troupes track by troupe.id"></select>
		</td>
	</tr>
    <tr>
        <td>Setting:</td>
        <td>
            <select ng-model='setting' name='setting' required='true' ng-options="setting as (setting.id|setting) for setting in settings"></select>
        </td>
    </tr>
	<tr>
		<td colspan='2'><input name="submit" type="submit" value="submit" /></td>
	</tr>
</table>
</form>