<form ng-submit="submit(csrf.header, csrf.token)" ng-controller="manageCharacter">
<table>
	<tr>
		<td>Name:</td><td>{{character.name}}</td>
	</tr>
	<tr>
		<td>Clan:</td>
		<td><select-clan clans="clans" change="clanChange()"></select-clan></td>
	</tr>
	<tr ng-show="bloodlines.length > 1">
		<td>Bloodline:</td>
		<td><select ng-model='bloodline' ng-change="bloodlineChange()" name='bloodline' required='true' ng-options="bloodline.name for bloodline in bloodlines">
				<option value="">-- Choose Bloodline --</option>
			</select>
		</td>
	</tr>
	<tr ng-repeat="disciplines in disciplineOptions">
		<td ng-show="disciplines.length > 1">Discipline</td>
		<td ng-show="disciplines.length > 1"><select-in-clan-discipline disciplines="disciplines" discipline-change="disciplineChange($index)"></select-in-clan-discipline></td>
	</tr>
	
	<tr>
		<td colspan='2'><input name="submit" type="submit" value="committ" /></td>
	</tr>
</table>
{{character}}
</form>