<form ng-submit="submit()">
<div class="row">
  <div class="col-md-2"><input type='text' ng-model='event.name' /></div>
  <div class="col-md-2"><input type='text' ng-model='event.eventDate' /></div>
  <div class="col-md-2">
    <select ng-model="event.eventStatus" ng-options="eventStatus as eventStatus for eventStatus in eventStatuses">
        <option value="">-- Event Status --</option>
    </select>
  </div>
  <div class="col-md-2">{{event.eventStatus|eventStatus}}</div>
  <div class="col-md-2">{{event.troupe.name}}</div>
  <div class="col-md-2">{{event.venue|venue}}</div>
</div>
<input name="submit" type="submit" value="submit" />
</form>